/* variables */
:root {
  /* colors */
  --gray: #6c6c6c;
  --light-gray: #ebebeb;
  --red: #ac1313;
  --pink: #d77474;
}

/* main styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7em;
  color: var(--gray);

  overflow-x: hidden;
}

.container {
  max-width: 1155px;

  padding: 0 10px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: block;

  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--gray);
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.logo {
  font-family: "Pacifico", cursive;
  color: black;
  font-size: 32px;
  line-height: 1.2em;
}

.description-name {
  font-family: "Poppins", sans-serif;
  color: var(--pink);
  font-size: 14px;
  line-height: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;

  order: -1;
}

.ampersand {
  position: relative;
  top: -12px;

  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 68px;
  line-height: 1em;
  color: var(--red);
}

.button {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.8em;
  color: white;

  padding: 20px 40px;

  background-color: var(--red);
}

/* header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  height: 100px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 40px;
}

.nav__item:nth-last-child(2) {
  position: relative;
  margin-right: 20px;
}

.nav__item:nth-last-child(2)::before {
  position: absolute;
  top: 0;
  right: -20px;

  width: 1px;
  height: 100%;
  background-color: var(--light-gray);

  content: "";
}

.nav__item--cart {
  position: relative;

  margin-right: 0;
}

.nav__item--cart::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 17px;

  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;

  width: 20px;
  height: 20px;

  content: "";
}

.nav__link {
  font-size: 12px;
  line-height: 1.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav__link--active {
  color: var(--red);
}

.nav__link--cart {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  text-transform: capitalize;
  letter-spacing: 0;

  padding-left: 40px;

  color: black;
}

/* hero */
.hero {
  position: relative;

  height: 700px;
}

.hero::before {
  position: absolute;
  z-index: -1;

  background-image: url("../images/bg/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 100%;
  height: 100%;

  content: "";
}

.hero__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 190px;
}

.hero__container::before {
  position: absolute;
  z-index: -1;
  left: 480px;
  top: 125px;

  background-image: url("../images/layout-pictures/hero-picture.png");
  background-repeat: no-repeat;

  width: 785px;
  height: 445px;

  content: "";
}

.hero__description-name {
  margin-bottom: 12px;
}

.hero__title {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2em;
  color: black;

  margin-bottom: 14px;
}

.hero__text {
  font-size: 16px;
  line-height: 1.6em;

  margin-bottom: 50px;
}
