/* variables */
:root {
  /* colors */
  --gray: #6c6c6c;
  --light-gray: #ebebeb;
  --red: #ac1313;
  --dark-red: #9a0f0f;
  --pink: #d77474;
  --beige: #e4b366;
  --dark-beige: #d8aa61;
  --orange: #f05b10;
  --dark-orange: #e4560f;
}

/* main styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7em;
  color: var(--gray);

  background-color: white;

  overflow-x: hidden;
}

.container {
  max-width: 1155px;

  padding: 0 10px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;

  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--gray);
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.25em;
  color: black;

  margin: 0;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 29px;
  line-height: 1.24em;
  font-weight: bold;

  margin: 0;
}

.logo {
  font-family: "Pacifico", cursive;
  color: black;
  font-size: 32px;
  line-height: 1.2em;
}

.description-name {
  font-family: "Poppins", sans-serif;
  color: var(--pink);
  font-size: 14px;
  line-height: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;

  order: -1;
}

.ampersand {
  position: relative;
  top: -12px;

  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 68px;
  line-height: 1em;
  color: var(--red);
}

.button {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.8em;
  color: white;

  padding: 20px 40px;

  background-color: var(--red);

  border: none;
}

/* header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  height: 100px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 40px;
}

.nav__item:nth-last-child(2) {
  position: relative;
  margin-right: 20px;
}

.nav__item:nth-last-child(2)::before {
  position: absolute;
  top: 0;
  right: -20px;

  width: 1px;
  height: 100%;
  background-color: var(--light-gray);

  content: "";
}

.nav__item--cart {
  position: relative;

  margin-right: 0;
}

.nav__item--cart::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 17px;

  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;

  width: 20px;
  height: 20px;

  content: "";
}

.nav__link {
  font-size: 12px;
  line-height: 1.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav__link--active {
  color: var(--red);
}

.nav__link--cart {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  text-transform: capitalize;
  letter-spacing: 0;

  padding-left: 40px;

  color: black;
}

/* hero */
.hero {
  position: relative;

  height: 700px;
}

.hero::before {
  position: absolute;
  z-index: -1;

  background-image: url("../images/bg/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 100%;
  height: 100%;

  content: "";
}

.hero__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 190px;
}

.hero__container::before {
  position: absolute;
  z-index: -1;
  left: 480px;
  top: 125px;

  background-image: url("../images/layout-pictures/hero-picture.png");
  background-repeat: no-repeat;

  width: 785px;
  height: 445px;

  content: "";
}

.hero__description-name {
  margin-bottom: 12px;
}

.hero__title {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2em;
  color: black;

  margin-bottom: 14px;
}

.hero__text {
  font-size: 16px;
  line-height: 1.6em;

  margin-bottom: 50px;
}

/* categories */
.categories {
  position: relative;

  border-bottom: 1px solid var(--light-gray);
}

.categories::before {
  position: absolute;
  left: 75px;
  top: 320px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--light-gray);

  writing-mode: vertical-lr;
  transform: rotate(180deg);

  content: "Hand Craft Pottery";
}

@media all and (max-width: 1300px) {
  .categories::before {
    display: none;
  }
}

.categories__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__title {
  margin-bottom: 65px;
}

.categories__description-name {
  margin-top: 120px;
  margin-bottom: 40px;

  order: -1;
}

.categories__icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-bottom: 80px;

  width: 100%;
}

.categories__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 240px;

  margin-bottom: 10px;

  border-radius: 50%;
}

.categories__vase-icon {
  background-image: radial-gradient(
    circle closest-side,
    var(--beige) 75%,
    var(--dark-beige) 75%
  );
}

.categories__mug-icon {
  background-image: radial-gradient(
    circle closest-side,
    var(--orange) 75%,
    var(--dark-orange) 75%
  );
}

.categories__plate-icon {
  background-image: radial-gradient(
    circle closest-side,
    var(--red) 75%,
    var(--dark-red) 75%
  );
}

.categories__icon-text {
  position: relative;
  bottom: -40px;

  font-family: "Poppins", sans-serif;
  line-height: 2.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.categories__vase-text::before {
  position: absolute;
  top: -70px;
  left: -10px;

  width: 70px;
  height: 70px;

  background-image: url("../images/icons/vase.svg");
  background-repeat: no-repeat;

  content: "";
}

.categories__mug-text::before {
  position: absolute;
  top: -70px;
  left: -10px;

  width: 70px;
  height: 70px;

  background-image: url("../images/icons/mug.svg");
  background-repeat: no-repeat;

  content: "";
}
.categories__plate-text::before {
  position: absolute;
  top: -70px;
  left: -7px;

  width: 70px;
  height: 70px;

  background-image: url("../images/icons/plate.svg");
  background-repeat: no-repeat;

  content: "";
}

.categories__texts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;

  margin-bottom: 140px;
}

.categories__text {
  max-width: 500px;
}

.categories__text-title {
  margin-bottom: 25px;
}

.categories__text-description {
  margin-bottom: 10px;
}

/* featured-products */
.featured-products {
  position: relative;

  border-bottom: 1px solid var(--light-gray);
}

.featured-products::before {
  position: absolute;
  right: 50px;
  top: 360px;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--light-gray);

  writing-mode: vertical-lr;
  transform: rotate(180deg);

  content: "Featured Products";
}

@media all and (max-width: 1300px) {
  .featured-products::before {
    display: none;
  }
}

.featured-products__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.featured-products__product:first-child {
  margin-top: 80px;
}

.featured-products__product:last-child {
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.featured-products__product-image {
  max-width: 500px;
}

.featured-products__product-description {
  max-width: 570px;
}

.featured-products__product-title {
  font-size: 24px;
  line-height: 34px;

  margin-bottom: 24px;
}

.featured-products__product-text {
  margin-bottom: 27px;
}

.featured-products__product-link {
  color: black;
  font-weight: bold;

  margin-bottom: 50px;
}

/* collection */
.collection {
  position: relative;
}

.collection::before {
  position: absolute;
  left: 55px;
  top: 672px;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--light-gray);

  writing-mode: vertical-lr;
  transform: rotate(180deg);

  content: "Product Collections";
}

@media all and (max-width: 1300px) {
  .collection::before {
    display: none;
  }
}

.collection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 365px);
  gap: 20px;

  width: 100%;

  margin-bottom: 60px;
}

.collection__product {
  border-bottom: 1px solid var(--light-gray);
}

.collection__image {
  width: 365;

  margin-bottom: 20px;
}

.collection__product-name {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: normal;
  color: var(--gray);

  margin-bottom: 0;
}

.collection__product-price {
  color: black;

  margin-bottom: 15px;
}

.collection__description-name {
  margin-top: 120px;
  margin-bottom: 15px;
}

.collection__title {
  margin-bottom: 60px;
}

.collection__button {
  margin-bottom: 120px;
}

/* ready-shop */
.ready-shop {
  width: 100%;
  height: 470px;

  background-image: url("../images/bg/ready-bg.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}

.ready-shop__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ready-shop__description-name {
  margin-top: 120px;
  margin-bottom: 30px;
}

.ready-shop__title {
  font-size: 36px;
  line-height: 1.28em;

  margin-bottom: 12px;
}

.ready-shop__text {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.ready-shop__text-link {
  color: var(--red);

  text-decoration: underline;
}
